@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Lato:wght@300&family=Montserrat:ital,wght@0,400;1,300&family=Pacifico&display=swap');

@import "public";



/* global styles */
$mainColor : #d3ad7f;
$-black : #13131a;
$bgColor : #010103;
$white :#fff;
$border : 1rem solid rgba(255,255,255,.3);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2 linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
}
 /* end of global styles */

 .section{
    padding: 2rem 7%;
 }

.btn{
    width: 50%;
    height: 6rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3em;
    border-radius: 1rem;
    /*background:rgb(51, 23, 10);*/
    background: #b36302;;
    padding: .7rem;
    color: #fff;
    margin: 1rem;
}



/* style the header */
.header{
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2%;
    background: transparent;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    .logo{
        font-family: 'Dancing Script', cursive;
        /*font-family: 'Lato', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Pacifico', cursive;*/
        .logo-color{
            color: #e29a42;
            font-weight: 600;
        }
        font-size: 4rem;
        font-weight: bold;
        color: #fff;
        font-weight:600;
        
    }
    .navigation{
        position: relative;
        
        a{
            color: $white;
            margin: 0 1.5rem;
            font-size: 2rem;
            font-weight: 600;
            font-family: "Montaga",sans-serif;
            &:hover{
                text-decoration: underline;
                text-decoration-thickness: .2rem;
                font-weight: bolder;
                color: rgb(160, 92, 60);
            }  
        }
    }
    .icons{   
        .fas{
            color: $white;
            padding: 0 1rem;
            font-weight: 600;
            font-size: 2rem;
    
            &:hover{
                color: rgb(160, 92, 60);
                transform: scale(2);
            }
        }
        .fa-bars{
            display: none;
        }
        
    }
    .search-bar{
        position: absolute;
        top:115%;
        right:5%;
        transform: scaleY(0);
        transform-origin: top;
        width: 35rem;
        height: 4rem;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: .5rem;
        
            input{
                width: 100%;
                height: 100%;
                font-size: 1.4rem;
                color: #333;
                padding: 1rem ;
                text-transform: none;
                padding: .2rem .5rem;
                margin : .2rem .5rem;
            }

            label{
                font-size: 2rem;
                margin-right: .9rem;
                cursor: pointer;
                color: #333;
                font-weight: bold;

                &:hover{
                    color: rgb(60, 160, 160);
                }
            }
    }
    .search-bar.active{
        transform: scaleY(1);
    }
/* style the cart */
.cart {
    position: absolute;
    height: 100vh;
    width: 35rem;
    top: 105%;
    right: -100%;
    background-color: #f8f8f8;
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: right 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    h2 {
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 2rem;
      color: #333;
    }
  
    .cart-items {
      width: 100%;
      max-width: 33rem;
      border: 1px solid #ddd;
      padding: 1rem;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
  
      .cart-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-height: 30rem;
  
        img {
          width: 5rem;
          height: 5rem;
          border-radius: 0.5rem;
          margin-right: 1rem;
        }
  
        .numberselected {
          width: 3rem;
          text-align: center;
          height: 2rem;
          font-size: 1rem;
          background-color: #e0e0e0;
          border: 1px solid #ccc;
          border-radius: 0.3rem;
          color: #333;
        }
  
        .btn-remove {
          font-size: 1rem;
          background-color: #e74c3c;
          border: 1px solid #c0392b;
          border-radius: 0.3rem;
          color: #fff;
          cursor: pointer;
          padding: 0.5rem;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #c0392b;
          }
        }
      }
    }
  
    .cart-total {
      text-align: center;
      margin-top: 1rem;
  
      p {
        font-size: 1.2rem;
        color: #333;
  
        span {
          font-weight: bold;
          color: #e74c3c;
        }
      }
    }
  
    &.active {
      right: 0;
    }
  }
  
   
    
}


/* styles of home section */

.home-items{
    height: calc(100vh + 200px);
    overflow: hidden;
    position: relative;

    .coffee-home{
        background: url('../images/coffe.jpg');
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        backdrop-filter: 2px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        .content{
            position: absolute;
            top: 20%;
            left: 2rem;
            max-width: 60rem;
            padding: 1rem 2rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    
        h3{
            color: #fff;
            font-size: 5rem;
            text-align: center;
            font-weight: bold;
            line-height: 2;    
        }
        p{
            color: #fff;
            font-size: 2rem;
            text-align: center;
            padding: 2rem;
            font-weight: 500;
    
        }
    }

    .cake-home{
        background: url('../images/newcake\ \(5\).jpg');
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;
        backdrop-filter: 2px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        
        
        
        .content{
            position: absolute;
            top: 20%;
            right: 10%;
            max-width: 60rem;
            padding: 1rem 2rem;
            opacity: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    
        h3{
            color: #fff;
            font-size: 5rem;
            text-align: center;
            font-weight: bold;
            line-height: 2;

        }
        p{
            color: #fff;
            font-size: 2rem;
            text-align: center;
            padding: 2rem;
            font-weight: 500;
    
        }
    }
    .home-action{
        display: flex;
        width: 12rem;
        height: 12rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        .home-item{
            position: relative;
            flex: 1 1 ;
            height: 100%;
            img , .img-hide{
                width: 100%;
                height: 60%;
                border-radius: 1rem;
                object-fit: cover;
                display: none;
                
            }
            .show-img{
                display: block;
            }
            .btn-item{
                position: absolute;
                border-radius: 50%;
                background-color: #fff;
                height: 1rem;
                width: 1rem;
                border: 1rem solid #fff;
            }
            .btn-item-one{
                top :75%;
                right: 10%;
            }
            .btn-item-two{
                top :75%;
                left: 10%;

            }
            .btn-item-click{
                transform: translateY(-.5rem);
                border: 1rem solid #000;
            }



        }
    }
}

/* mixin for styles of menu section */

@mixin products-style{
    .products{
        margin: 5rem 2rem;
        padding-top: 5rem;
        h1{
            font-size: 3rem;
            text-align: center;
            margin-bottom: 3rem;
    
        }
        .menu-heading{
            margin: 6rem auto;
            text-align: center;
            h1{
                font-size: 3rem;
                margin-bottom: 3rem;
                
            }
            p{
                line-height: 1.7;
                font-size: 1.8rem;
                text-align: center;
                color: #4b4a4a;
                padding: 2rem 4rem;
            }
    
        }

        .container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            gap: 1rem;
            .item{
                text-align: center;
                position: relative;
                background-size: cover; 
                height: 30rem;
                margin: 1rem 0;
    
                .icons{
                    margin-top: 2rem;
                    a{
                    height: 4rem;
                    width: 4rem;
                    line-height: 4rem;
                    font-size: 2rem;
                    color: #000;
                    margin: .3rem;
                    background: #fff;
                    
                    &:hover{
                        color:#BC8157;
                      
                    }
    
                    }
                }
                .item-content{
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 1rem;
                    /*background: transparent;
                    backdrop-filter: blur(.9rem);
                    box-shadow: 0 0 30px rgba(10, 10, 10, 0.3); */
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(73, 67, 67, 0.7)); /* Adjust the gradient and opacity as needed */
                    backdrop-filter: blur(.5rem); /* Adjust the blur amount as needed */
                    z-index: 1;
    
                    h3{
                        font-size: 2rem;
                        color: #fff;
                        z-index: 2;
    
                    }
    
                    .stars{
                        padding: 1.5rem;
    
                        i{
                            font-size: 1.5rem;
                            color: $mainColor;
                        }
    
                    }
                    .price{
                        font-size: 2rem;
                        color: #fff;
                        .prev-price{
                            font-weight: lighter;
                            text-decoration: line-through;
                            font-size: 2rem;
                            color: #fff;
                        }
    
                    }
                }
    
            }
           
    
        }
        
    }

}

/* styles of menu section */
@include products-style;

/*styles of about section*/
.about{
    width: 100%;
    height:90vh;
    padding-top: 6rem;
    .row{
        width: 100%;
        height: 100%;
        background: url('../images/newcake\ \(6\).jpg');
        background-position: center;
        background-size: cover;
        position: relative;
        .about-content{
            background-color: #2F1E12;
            width: 40%;
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
            padding: 2rem 3rem;
            h1{
                padding-top: 3rem;
                font-size: 3rem;
                color: #fff;

            }
            ul{
                padding:2rem 3rem;
                li{
                    padding: 2rem 0;
                    color: #fff;
                    font-size: 1.8rem;
                    line-height: 2rem;
                }
            }
        }
    }
}


/*styles of menu2 section*/
.menu2{
    padding: 0;

    .logos{
        height: auto;
        width: 40vw;
        margin: 0 auto;
        img{
        height: auto;
        width: 100%;
        object-fit: cover;
        object-position: center;

        }
    }
    .menu{

        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        .menu-img{
            width: 50vw;
            height: 27rem;
            position: relative;
            overflow: hidden;

            img{
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: bottom;
                z-index: 1;
                &:hover{
                    transform: translateY(1rem);
                }
    
            }
            .img-num{
                position: absolute;
                padding: 2rem;
                right: 3rem;
                top: 1rem;
                font-size: 3rem;
                color: #fff;
                cursor: pointer;
            }
            .img-name{
                position: absolute;
                display: flex;
                flex-direction: column;
                left: 5rem;
                top: 50%;
                font-size: 2.3rem;
                color: #fff;
                cursor: pointer;
                a{
                    position: relative;
                    color: #fff;
                    padding: 2rem 0;
                }
            }
        }
        
    }
}

/* AllProducts section styles*/
.allProducts{
    margin-top: 5rem;
    padding-top: 4rem;
    h1{
        font-size: 3rem;
        margin-bottom: 3rem;
        text-align: center;
        
    }
    p{
        line-height: 1.5;
        font-size: 2rem;
        text-align: center;
    }
    .container{
        margin: 5rem 0;
        .menuBar{
            width: 30%;
            margin: 1rem auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a{
                color:#000;
                font-size: 2rem;

            }

            p{
                font-size: 1rem;
                color: #000;
            }
        }
        .cakeMenu ,.cakeMenu.hideMenu ,
        .coffeeMenu , .coffeeMenu.hideMenu{
                display: none;
            }
        .cakeMenu.showMenu{
                display: block;
        }
        .coffeeMenu.showMenu{
            display: block;
    }  
        
    }
}

/* styles of MostAmazingProductes */
.MostAmazingProductes{
    width: 100%;
    .container{
        position: relative;
        display: flex;
        width: 100vw;
        height: 100vh;
        img{
            width: 50%;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
        .content{
            width: 100%; height: 100%;
            position: absolute;
            top: 0;
            text-align: center;
            h3{
                font-size: 3rem;
                color: #BC8157;
                margin-top: 4rem;
                text-align: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
            }
            h1{
                font-size: 4rem;
                text-align: center;
                padding: 0 2rem;
                color: #fff;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

            }
            p{
                font-size: 2rem;
                padding: 4rem 2rem;
                font-weight: bold;
                text-align: center;
                color: #fff;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

            }
            button{
                border: .2rem solid #fff;
                background: none;
                padding: 2rem;
                font-size: 1.5rem;
                font-weight: bold;
                margin: 1rem 0;
                cursor: pointer;
                color: #fff;
                &:hover{
                    letter-spacing: .5rem;
                    color: #634117;
                }
            }
           
        }
        .more{
            position: absolute;
            bottom: 0;
            height: 10rem;width: 100%;
            background: transparent;
            backdrop-filter: blur(1rem);            
           
           
        }
        .links{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 8rem;width: 70%;
            background: transparent;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
           
         
            .more-links{
                margin: 0 auto;

                i{
                    font-size: 2rem;
                    color: #BC8157;
                    background: none;
                    cursor: pointer;
                }
                a{
                    color: #fff;
                    font-size: 2rem;
                }
            }

        }

    }
   
}

/* styles of slider */

.slider{
    width: 90%;
    margin: 7rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    gap: 1rem;
    .text{
        flex: 30%;
        min-width: 20%;
        padding: 2rem 3rem;
        p{
            font-size: 3rem;
            span{
                color: #634117;
                font-size: 2rem;
            }

        }
    }
    .container{
        min-width: 60%;
        flex: 60%;
        height: 20rem;
        position: relative;
        overflow: hidden;
        .slides {
            display: flex;
            height: 100%;
            width: 100%;
            gap: 1rem;
            .slide {
                min-width: 20rem;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                  }
                 
                  .fab{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%);
                    font-size: 1.5rem;
                    color: #BC8157;
                    display: none;
                }
                &:hover img{
                    transition: transform .5s, opacity .5s;
                    transform: scale(1.2);
                    opacity: .5;
                    z-index: 1;
                }
                &:hover .fab{
                    transition: display .7s;
                    display: block;
                    z-index: 2;
                }

              }
          }

          .slide-controls {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                #next-btn,
                #prev-btn {
                    cursor: pointer;
                    background: transparent;
                    font-size: 30px;
                    border: none;
                    padding: 10px;
                    color: white;
                    &:focus{
                      outline: none;
                    }
                        
                    }
          }


    }
}

/* styles of subscribe */

.subscribe{
    width: 100%;
    margin: 5rem 0;
    background: url('../images/img.jpg');
    height: 25rem;
    background-position: center;
    background-size: cover;
    position: relative;
    .container{
        position: absolute;
        width: 100%;
        top: 30%;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            font-size: 2rem;
            color: #fff;
            margin-bottom: 3rem;
        }
        .search-box{
            width: 70%;
            display: flex;
            height: 6rem;
            background-color: #fff;
            border: .1rem solid #c2bebe;
            input{
                width: 100%;
                height: 100%;
                font-size: 1.5rem;
                padding: 1rem;
                margin-right: 1rem;
            }
            label{
                font-size: 1.5rem;
                text-align: center;
                padding: 1.5rem;
                }
            
        }
        

    }
}














































/* Animation */

@keyframes slideInFromRight {
    0% {
        transform:  translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes slideInFromLeft {
    0% {
        transform:  translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes slideInFromTop {
    0% {
        transform:  translateY(-100%);
    }

    100% {
        transform:  translateX(0);
    }
}


@keyframes slideInFromBotoom {
    0% {
        transform:  translateY(100%);
    }

    100% {
        transform:  translateX(0);
    }
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% { opacity: .7; }
    100% { opacity: 1; }
  }

.rotate{
    animation: rotate 1.5s linear;
}


.slideInFromRight{
    animation: slideInFromRight 2s ease-in;
}

.slideInFromTop {
    animation: slideInFromTop 2s ease-in;
}

.slideInFromLeft{
    animation: slideInFromLeft 2s ease-in;
}

.slideInFromBotoom{
    animation: slideInFromBotoom 2s ease-in;
}
.fade-in-image { animation: fadeIn 2s; }
    















































/* media Queries */
@media (max-width : 991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }
}


/* media Queries for tablet and mobile */
@media (max-width : 768px){

    #menu-icon{
        display: inline-block;
    }
    .header .navigation{
        position: absolute;
        top: 100%;
        right: -100%;
        background:#fff ;
        width: 30rem;
        height: calc(100vh - 9.5rem);

        a{
            display: block;
            margin: 1.5rem;
            padding: .5rem;
            font-size: 2rem;
            color: #13131a;

            &:hover{
                color: rgba(60, 160, 160);
            }

        }
    }
    .header .navigation.active{
        right: 0;
    }
    
    .header .search-bar{
        width: 90%;
        right: 2rem;
    }   
    .menu2 .menu .menu-img{
        width: 100vw;
    }

    .about .row .about-content{
        width: 80%;
    }
    

}

@media screen and (max-width: 450px) {
    html{
        font-size: 45%;
    }

  }




































